In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

In [53]:
warnings.filterwarnings("ignore",category=np.VisibleDeprecationWarning)

In [54]:
plt.style.use('seaborn')
plt.style.use('dark_background')

In [55]:
dfx = pd.read_csv('TrainingData/Diabetes_XTrain.csv')
dfx.shape

(576, 8)

In [56]:
dfx.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [57]:
dfy = pd.read_csv('TrainingData/Diabetes_YTrain.csv')
dfy.shape

(576, 1)

In [58]:
dfy.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [59]:
X = dfx.values
Y = dfy.values

In [60]:
X

array([[  7.   , 168.   ,  88.   , ...,  38.2  ,   0.787,  40.   ],
       [  8.   , 110.   ,  76.   , ...,  27.8  ,   0.237,  58.   ],
       [  7.   , 147.   ,  76.   , ...,  39.4  ,   0.257,  43.   ],
       ...,
       [  2.   , 122.   ,  60.   , ...,  29.8  ,   0.717,  22.   ],
       [  4.   , 154.   ,  72.   , ...,  31.3  ,   0.338,  37.   ],
       [  1.   ,  88.   ,  78.   , ...,  32.   ,   0.365,  29.   ]])

In [61]:
def dist(x1, x2):
    return np.sqrt(sum((x1-x2)**2))

In [62]:
def knn(X, Y, queryPoint, k = 5):
    vals = []
    m = X.shape[0]
    for i in range(m):
        d = dist(X[i, :], queryPoint)
        vals.append((d, Y[i]))
    vals = sorted(vals)
    vals = vals[:k]
    vals = np.array(vals)
    newVals = np.unique(vals[:, 1], return_counts=True)
    index = newVals[1].argmax()
    pred = newVals[0][index]
    return pred

In [63]:
dfTest = pd.read_csv('TestDataX.csv')
dfTest.shape

(192, 8)

In [64]:
dfTest.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22

In [65]:
testAns = []
dfTest = np.array(dfTest)
for i in range(dfTest[:, 0].size):
    pred = knn(X, Y, dfTest[i], 20)
    testAns.append(pred)

In [69]:
for i in testAns:
    print(i[0])

0
0
0
0
0
0
1
0
0
0
1
0
1
0
0
0
0
1
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
1
0
0
0
1
0
0
1
0
1
0
1
0
0
1
0
1
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
1
1
0
0
1
0
0
0
0
0
1
1
0
0
0
1
0
1
0
0
1
0
1
0
0
0
0
1
0
0
0
0
0
1
1
1
1
0
1
0
1
1
0
0
0
0
1
1
1
0
0
1
0
1
1
0
0
1
0
0
0
0
1
0
0
1
1
1
0
1
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
1
1
0
0
1
0
1
0
0
0
0
1
0
0